
html {
    height:100%;
}
body{
    min-height:100%;
    padding-top:260px;
    font-family: verdana;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}
a{
    color:#ccc;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
a:hover{
    color: #fff;
    text-decoration: none;
}

.bg{
    position:fixed;
    height: 100%;
    width:100%;
    left:0px;
    top:0px;
    z-index: -1;;
    background: #111 url("images/bg.png") no-repeat center center; /*url(https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash4/375236_541774795833230_1975850575_b.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.wrapper{
    display:none;
    width:100%;
    height:100%;
}
.menu{
    position:fixed;
    left:30px;
    top:260px;
    width:200px;
    border-radius: 1px;
    border: 2px solid #000;
    border-color: rgba(20,20,20,0.95) rgba(5,5,5,0.95) rgba(0,0,0,0.95) rgba(15,15,15,0.95);
}
.player{
    position:fixed;
    right:30px;
    top:30px;
}
.logo{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    position:fixed;
    left:30px;
    top:30px;
}

#streams{
    position:fixed;
    top:10px;
    right:10px;
    width:300px;
    height:100%;
    margin-bottom:-10px;
}

#shares{
    position:fixed;
    bottom:10px;
    right:10px;
    width:300px;
    height:50px;
}

#menu{
    background:rgba(10,10,10,0.95); /* url("images/bg.png") repeat center center */;
    list-style: none;
    margin: 0;
    padding: 5px 10px;
}
#menu li a.selected{
    color: #ab1313;
}
#menu li{
    padding: 5px;
    cursor: pointer;
}
#menu li:hover{
    color: #fff;
}
div.header.first{
}
div.header{
    display: none;
    width:560px;
    font-size:18px;
    font-weight: bold;
    padding: 40px 0 0 5px;
    margin-left: 300px;
}
div.section.first{
    display:block;
}
div.section{
    display: none;
    width:auto;
    padding:20px;
    background:rgba(10,10,10,0.95); /* url("images/bg.png") repeat center center */;
    border-radius: 1px;
    border: 2px solid #000;
    border-color: rgba(20,20,20,0.95) rgba(5,5,5,0.95) rgba(0,0,0,0.95) rgba(15,15,15,0.95);
    margin-left: 290px;
    margin-right: 200px;
}

div.item:first-of-type{
    margin-top:0;
}
div.item{
    margin: 10px 0;
}
div.item:last-of-type{
    margin-bottom:0;
}

img.imageStyle{
    -webkit-filter: opacity(0.6);
    width:70px;
    height:auto;
}
img.imageStyle:hover{
    -webkit-filter: none;
}

div.jp-title {
    margin-top:10px;
}
div.jp-title ul li{
    text-align:left;
    padding: 10px 0;
    cursor: pointer;
}
div.jp-title ul li:hover{
    color:#fff;
}
div.jp-title ul li.selected{
    color:#009de0;
}


.about img{
}
.about div{
    display:inline;
}